[core]
	pager = delta --syntax-theme base16 --diff-highlight --paging=always
[interactive]
	diffFilter = delta --syntax-theme base16 --diff-highlight --color-only
[delta]
	navigate = true
	dark = true
[user]
	email = mortezadadgar97@gmail.com
	name = mortezadadgar
[credential]
	helper = cache --timeout=7200
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = mortezadadgar97@gmail.com
	smtpServerPort = 587
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[color]
	ui = auto
[merge]
	conflictStyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
