[core]
	pager = delta --diff-highlight
[interactive]
    diffFilter = delta --color-only --diff-highlight
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[user]
	email = mortezadadgar97@gmail.com
	name = mortezadadgar
[credential]
	helper = cache --timeout=7200
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = mortezadadgar97@gmail.com
	smtpServerPort = 587
[pull]
	rebase = true
