[core]
	pager = delta --diff-so-fancy | less
[interactive]
	diffFilter = delta --color-only --diff-so-fancy | less
[delta]
	navigate = true
	file-style = omit
	hunk-header-decoration-style = ul
	hunk-header-style = file line-number
	width = 1
	light = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[user]
	email = mortezadadgar97@gmail.com
	name = mortezadadgar
[credential]
	helper = cache --timeout=7200
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = mortezadadgar97@gmail.com
	smtpServerPort = 587
