# mpv
watch_later/

# mpd
playlists/
database
log
pid
state

# zsh
**/zsh/.zcompdump
**/zsh/.zcalc_history

# nvim
**/nvim/lazy-lock.json

# wallpaper
*.jpg

# local/share
**/share/*
!**/share/fonts

# syncthing
.stignore

# common
*.log
*.cache
