# mpv
watch_later/

# mpd
playlists/
database
log
pid
state

# zsh
**/zsh/.zcompdump
**/zsh/.zcalc_history
**/zsh/hashed

# nvim
**/nvim/lazy-lock.json
**/nvim/.luarc.json

# wallpaper
*.jpg

# local/share
**/share/*

# syncthing
.stignore

# newsboat
**/newsboat/urls

# systemd
**/systemd/user/*/

# common
*.log
*.cache
