[submodule "zsh/.config/zsh/plugins/powerlevel10k"]
	path = zsh/.config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "suckless/repos/dmenu"]
	path = suckless/repos/dmenu
	url = git://git.suckless.org/dmenu
[submodule "suckless/repos/slock"]
	path = suckless/repos/slock
	url = git://git.suckless.org/slock
[submodule "suckless/repos/st"]
	path = suckless/repos/st
	url = git://git.suckless.org/st
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tmux/.config/tmux/plugins/tmux-fingers"]
	path = tmux/.config/tmux/plugins/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
