# mpv
**/mpv/watch_later/

# mpd
**/mpd/playlists
**/mpd/database
**/mpd/log
**/mpd/pid
**/mpd/state

# zsh
**/zsh/.zcompdump
**/zsh/.zcalc_history
**/zsh/hashed

# wallpaper
*.jpg

# local/share
**/.local/share/*

# syncthing
.stignore

# newsboat
**/newsboat/urls

# systemd
**/systemd/user/*/

# common
*.log
*.cache
