[Unit]
Description=Display notificatinos on mpd events
Requisite=mpd.service
After=mpd.service

[Service]
Type=exec
ExecStart=/home/morteza/.local/bin/mpd-notify
Restart=on-failure

[Install]
WantedBy=default.target
