[Unit]
Description=Display notificatinos on mpd events
Wants=mpd.service
After=mpd.service

[Service]
ExecCondition=/bin/sh -c "command -v notify-send > /dev/null"
ExecStart=%h/.local/bin/mpd-notify
Restart=on-failure

[Install]
WantedBy=default.target
