[Unit]
Description=Update newsboat feed
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecPreStart=sh -c 'while ! ping -c 1 1.1.1.1; do sleep 1; done'
ExecStart=/usr/bin/newsboat -x reload
