[unit]
description=update newsboat feed
after=network-online.target
wants=network-online.target

[service]
type=simple
execstartpre=sh -c 'while ! ping -c 1 1.1.1.1 >/dev/null; do sleep 1; done'
execstart=/usr/bin/newsboat -x reload
