[Unit]
Description=picom
Wants=graphical-session.target
After=graphical-session.target
ConditionEnvironment=DISPLAY

[Service]
ExecStart=/usr/bin/picom --realtime
Restart=on-failure

[Install]
WantedBy=graphical-session.target
