[Unit]
Description=Playerctl daemon
Documentation=man:playerctl(1)

[Service]
Type=dbus
BusName=org.mpris.MediaPlayer2.playerctld
ExecStart=/usr/bin/playerctld

[Install]
WantedBy=default.target
