[Unit]
Description=Polkit Authentication Agent
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=DISPLAY
	
[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target
