[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
Requisite=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/redshift -O 5000
Restart=on-failure

[Install]
WantedBy=graphical-session.target
