[Unit]
Description=Swaybg
Documentation=man:swaybg(1)
Requisite=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/bin/sh -c "swaybg --image $XDG_DATA_HOME/bg.jpg"
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
