[Unit]
Description=Swaybg
Documentation=man:swaybg(1)
Wants=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg --image %h/.local/share/bg.jpg

[Install]
WantedBy=graphical-session.target
