[Unit]
Description=tmux session
Wants=graphical-session.target
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/zsh -l -c "/usr/bin/tmux new-session -d"
ExecStop=/usr/bin/tmux kill-session
Restart=on-failure

[Install]
WantedBy=graphical-session.target
