[Unit]
Description=Udiskie daemon
Documentation=man:udiskie(8)
Wants=waybar.service
After=waybar.service

[Service]
ExecStart=/usr/bin/udiskie --smart-tray
Restart=on-failure

[Install]
WantedBy=graphical-session.target
