[Unit]
Description=wbg
Wants=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/wbg --stretch %h/.local/share/bg.jpeg
Restart=on-failure

[Install]
WantedBy=graphical-session.target
