[Unit]
Description=Gamma adjustments for Wayland compositors
Documentation=man:wlsunset(1)
Wants=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -T 5000 -t 4000

[Install]
WantedBy=graphical-session.target
