[Unit]
Description=xss-lock
Wants=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/xss-lock --session 1 --transfer-sleep-lock -- slock
Restart=always

[Install]
WantedBy=graphical-session.target
