[Unit]
Description=xwallpaper
Wants=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/xwallpaper --stretch %h/.local/share/bg.jpg

Restart=on-failure

[Install]
WantedBy=graphical-session.target
