# PCI Runtime Power Management
SUBSYSTEM=="pci", TEST=="power/control", ATTR{power/control}="auto"
# devices state that can't be changed in traditional way
ACTION=="change", RUN+="/bin/sh -c 'echo auto > /sys/bus/pci/devices/0000:00:17.0/ata1/power/control'"
ACTION=="change", RUN+="/bin/sh -c 'echo auto > /sys/bus/pci/devices/0000:00:17.0/ata2/power/control'"
ACTION=="change", RUN+="/bin/sh -c 'echo auto > /sys/block/sda/device/power/control'"

# Unload nvidia-gc, cardreader, realtek-lan
SUBSYSTEM=="pci", KERNEL=="0000:01:00.0", TEST=="remove", ATTR{remove}="1"
SUBSYSTEM=="pci", KERNEL=="0000:01:00.1", TEST=="remove", ATTR{remove}="1"
SUBSYSTEM=="pci", KERNEL=="0000:04:00.0", TEST=="remove", ATTR{remove}="1"
SUBSYSTEM=="pci", KERNEL=="0000:04:00.1", TEST=="remove", ATTR{remove}="1"

# USB autosuspend
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"

# Disable bluetooth
SUBSYSTEM=="rfkill", ATTR{type}=="bluetooth", ATTR{state}="0"

# Writeback Time
ACTION=="change" RUN+="/bin/sh -c 'echo 6000 > /proc/sys/vm/dirty_writeback_centisecs'"
