[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/slock
ExecStartPost=/usr/bin/sleep 0.5

[Install]
WantedBy=sleep.target
